<p>propertybind works!</p>
<!-- changimg attribute value using property binding -->
<h1> property binding</h1>
<!-- changing attribute name using interpolTION -->
<input type="text" value={{name}} disabled={{disable}}>
<!-- changing attribute name using property binding -->
<input type="text" [value]="name" [disabled]="disable">
<!-- ngIf and ng-template(else) -->
<p *ngIf="show=='yes'; else elseBlock" >Hello im ngIf</p>
<ng-template #elseBlock><p>Hello im else</p></ng-template>
<p *ngIf="marks=='101'; else elseBlock" >Hello im ngIf</p>
<ng-template #elseBlock><p>Hello im else</p></ng-template>
<p *ngIf="percentage>55; else elseBlock" >Hello im ngIf</p>
<ng-template #elseBlock><p>Hello im else</p></ng-template>
<p *ngIf="show=='yes'; else elseBlock" >Hello im ngIf</p>
<ng-template #elseBlock><p>Hello im else</p></ng-template>
<!-- multiple condition and else if -->
<ng-template [ngIf]="color=='blue'"> <h1 style="color:rgb(0, 21, 255)">hello im red</h1></ng-template>
<ng-template [ngIf]="color=='red'"> <h1 style="color:red">hello im red</h1></ng-template>
<ng-template [ngIf]="color=='gold'"> <h1 style="color:gold">hello im red</h1></ng-template>
<!-- switch case -->
<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'gold'" style="color: gold;">Im a switch case</h1>
    <h1 *ngSwitchCase="'red'" style="color: red;">Im a second case</h1>
    <h1 *ngSwitchCase="'silver'" style="color: silver;"> Im third switch case</h1>
</div>
<!-- LoopS  in Angular  -->
<h1 *ngFor="let item of employee">Name of employee:{{item}}</h1>
<h2 *ngFor="let item of students">Name of:{{item}}</h2> 
<!-- Displaying data of objects in array using ngFor  -->
<h1 *ngFor="let data of Employeesheet">{{data.Name}}--{{data.emaiid}}--{{data.PhoneNo}}</h1>
<!-- Nested loops -->
<ul *ngFor="let data of Employeedata">
    <li>{{data.Name}}</li>
    <li>{{data.emaiid}}</li>
</ul>
<!-- style binding -->
<h1 [style.color]="color1" [style.backgroundColor]="bgcolor">Hello im style binding</h1>
<button (click)="change()">click me to change color</button>

  


