<app-view></app-view>
<!-- Interpolation displayimng dynamic data in app.html,from app.components.ts -->
<!-- The things we cant do in interpolation Increment,Decrement,typeoof,we cant change any tile,without any {{}} interpolation we cant add -->
<h1>{{data}}</h1>
<h2>heloo {{getValue}}</h2>
<h1>{{2*2}}</h1>
<h1>{{2*2/6}}</h1>
<h1>{{title==='Hello-world'}}</h1>
<!-- interview question -->

<!-- The things we cant do in interpolation Increment,Decrement,typeoof,we cant change any tile,without any {{}} interpolation we cant add -->
<!-- <h1>{{typeof title}}</h1> -->
 
<!-- Displaying created component htnl in main app.component.html -->
<app-secound>Hello Hello-world</app-secound>
<!-- Explanation of inline style and inline template -->
<app-userlist>Hello</app-userlist>
<app-temstyle></app-temstyle> 
<!-- creating a function and calling by button -->
<button (click)="getName()">Click me</button>  
<app-events></app-events>
<br>
 <!--Property binding  -->
 <app-propertybind></app-propertybind>
 <app-head></app-head>